.post_container {
    text-align: center;
}

.post_container h3 {
    margin-bottom: .2em;
}

.post_container h1 {
    font-weight: 900;
    font-size: 2.5em;
}

.post_container img {
    max-width: 70%;
}

.post_container .tags {
    display: flex;
    justify-content: center;
}

.tags p {
    margin-right: 1em;
}

.tags span {
    font-weight: bold;
}